body {
  font-family: 'camcorderFont';
  text-align: center;
  background-color: white;
  background-image: url(./images/72.gif);
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 10rem;
  color: white;
  text-shadow: 3px 0 #DA0463;
}

.hero-image {
  background-image: url(./images/IMG_20210621_100818.jpg);
  height: 55%;
  margin: 20px;
  background-position: center;
  background-size: cover;
  position: relative;
}

footer {
  font-size: 1.5rem;
  color: #26728b;
}

.w {
  background-image: url(./images/output-onlinepngtools.png);
}

/* .set {
  margin: 10% auto;
} */

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border-radius: 50%;
  display: inline-block;
  width: 250px;
  height: 250px;
}

@font-face {
  font-family: 'camcorderFont';
  src: url(./assets/vcr-osd-mono/VCR_OSD_MONO.ttf);
}